beautifulsoup4==4.13.4
fpdf==1.7.2
jieba==0.42.1
lxml==6.0.0
numpy==2.3.2
opencv_python==4.10.0.84
openpyxl==3.1.5
pandas==2.3.1
Pillow==11.3.0
pyperclip==1.9.0
PyQt5==5.15.11
pywin32==306
pyzbar==0.1.9
rarfile==4.2
Requests==2.32.4
selenium==4.35.0
sounddevice==0.4.6
tqdm==4.66.2
win10toast==0.9
xlwings==0.30.15
